---
layout: default
title: JavaScript drag and drop, resizing and gestures with inertia and snapping
description: >
               interact.js is a lightweight, standalone JavaScript module for
               handling single-pointer and multi-touch drags and gestures with
               powerful features including inertia and snapping.

scripts:
    - home/index.bundle
    - debug

styles:
    - livedemo

links:
    - ['https://github.com/taye/interact.js', 'View on Github' ,   'github.svg', 'Octocat' ]
    - ['https://twitter.com/interactjs'     , '@interactjs'    ,     'bird.svg', 'Bird'    ]
    - ['https://gitter.im/taye/interact.js' , 'Discuss'        ,     'chat.svg', 'Gitter'  ]
    - :break
    - ['/docs/'                             , 'Documentation'  ,      'doc.svg', 'Docs'    ]
    - ['/docs/faq/'                         , 'FAQ'            ,     'help.svg', '?'       ]
    - :donate_btn

---

<div id="logo-area">
    <%= image_tag 'ijs-anim-short.svg',
        :id => 'ijs-logo',
        :alt => 'interact.js' %>
</div>
<p id="tagline"> JavaScript drag and drop, resizing and multi-touch
gestures with inertia and snapping for modern browsers (and&nbsp;also&nbsp;IE9+) </p>

<div id="download">
    <p class="version-title"> Version <%= data.site.current_version %> </p>
    <div id="get-min">
        Download the <em>minified</em> version
        <br> 24.2KB gzipped
        <br> <a class="link-btn" href="//code.interactjs.io/v<%= data.site.current_version %>/interact.min.js">
            <%= image_tag 'download.svg',
                :class => 'link-btn-icon',
                :alt => 'Download' %>

            interact.min.js
        </a>
    </div>
    <div id="get-dev">
        Download the <em>development</em> version
        <br> 43.6KB gzipped
        <br> <a class="link-btn" href="//code.interactjs.io/v<%= data.site.current_version %>/interact.js">
            <%= image_tag 'download.svg',
                :class => 'link-btn-icon',
                :alt => 'Download' %>

            interact.js
        </a>
    </div>
</div>

<%= if current_page.data.links
  partial :link_btn_list, :locals => { :links => current_page.data.links }
end %>

<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=interactjsio" id="_carbonads_js"></script>

<div id="demos">

<%= [
  'dragging',
  'drag-and-drop',
  'snapping',
  'resizing',
  'multi-touch',
  'pinch-to-zoom',
  'svg',
  'pointer-events',
].map { |demo| live_demo demo }.join('') %>
